@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$font-for-text: 'Raleway', sans-serif;
$background-color: rgb(27, 27, 27);
$color: rgb(255, 255, 255);
$highlight-color: #ffe700;
$font-size: 22px;
$font-size-2: 24px;
$font-size-3: 32px;

html,
body {
	margin: 0%;
}
a {
	color: $highlight-color;
}

body {
	color: $color;
	background-color: $background-color;
	font-size: $font-size;
	font-family: $font-for-text;
}

h1 {
	font-size: $font-size-3;
	margin: 0;
}
h2 {
	font-size: $font-size-2;
	margin: 0;
}
h3 {
	font-size: $font-size;
	margin: 0;
}
p {
	margin: 0;
}
div {
	h1 {
		color: $color;
	}
}
p {
	span {
		color: $highlight-color;
	}
}
.profile {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	padding: 0 20px;
	width: 500px;
	display: flex;
	flex-flow: column nowrap;
	h1,
	h2 {
		padding-bottom: 0;
		padding-bottom: 10px;
	}
	@media (max-width: 500px) {
		width: 300px;
	}
}

.skills {
	margin: auto;
	width: 500px;
	margin-top: 25px;
	ul {
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		font-weight: 500;
		li {
			border-radius: 2px;
			background-color: $highlight-color;
			color: $background-color;
			padding: 0.5em;
			margin-right: 5px;
			margin-bottom: 10px;
			transition: all .3s ease-in-out;
			&:hover {
				transform: rotate(1deg) scale(1.05);
			}
		}
		@media (max-width: 500px) {
			flex-flow: column nowrap;
		}
	}
	@media (max-width: 500px) {
		width: 300px;
	}
}

.projects {
	margin: auto;
	width: 500px;
	h2 {
		margin-bottom: 20px;
	}
	.card {
		display: flex;
		flex-flow: column nowrap;
		border: 1px solid white;
		padding: 10px;
		margin-bottom: 15px;
		transition: all .3s ease-in-out;
		h3 {
			padding: 10px 0;
		}
		a {
			margin-left: auto;
		}
		&:hover {
			transform: rotate(-0.5deg) scale(1.03);
		}
	}
	@media (max-width: 500px) {
		width: 300px;
	}
}
.contact,
.code {
	margin: 20px 0;
	ul {
		margin: 0%;
		list-style: none;
		padding: 0;
	}
}
.contact {
	margin-bottom: 50px;
}
