@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$font-for-text: 'Raleway', sans-serif;
$background-color: rgb(27, 27, 27);
$color: rgb(255, 255, 255);
$highlight-color: #ffe700;
$font-size: 22px;
$font-size-2: 24px;
$font-size-3: 32px;

html,
body {
	margin: 0%;
}
a {
	color: $highlight-color;
}

body {
	color: $color;
	background-color: $background-color;
	font-size: $font-size;
	font-family: $font-for-text;
}
h1 {
	font-size: $font-size-3;
	margin: 0;
}
h2 {
	font-size: $font-size-2;
	margin: 0;
}
h3 {
	font-size: $font-size;
	margin: 0;
}
p {
	margin: 0;
}
div {
	h1 {
		color: $color;
	}
}
p {
	span {
		color: $highlight-color;
	}
}
.profile {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	padding: 0 20px;
	width: 500px;
	display: flex;
	flex-flow: column nowrap;
	h1,
	h2 {
		padding-bottom: 0;
		padding-bottom: 10px;
	}
}

.skills {
	margin: auto;
	width: 500px;
	margin-top: 50px;
	ul {
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		@media (max-width: 500px) {
			flex-flow: column nowrap;
		}
	}
}

.projects {
	margin: auto;
	width: 500px;
	h2 {
		margin-bottom: 20px;
	}
	.card {
		display: flex;
		flex-flow: column nowrap;
		border: 1px solid white;
		padding: 10px;
		h3 {
			padding: 10px 0;
		}
		a {
			margin-left: auto;
		}
	}
}
.contact {
	margin-top: 30px;
	ul {
		list-style: none;
	}
}
